!!!
%html
  %head
    %title Intralist
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    - if params[:controller] =~ /lists|requests/ && params[:action] == "show"
      %meta{:content => "#{@list.name}", :property => "og:title"}/
      %meta{:content => "#{@list.description}", :property => "og:description"}/
      - if @list.class == List
        %meta{:content => "#{@list.items.first.image_url? ? @list.items.first.image_url : "http://www.intralist.com/assets/no_item_photo.gif"}", :property => "og:image"}/
      - else
        %meta{:content => "http://www.intralist.com/assets/requests.png", :property => "og:image"}/
    = favicon_link_tag "intralist_favicon.ico"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530bfbe21daf7c56"
    = javascript_include_tag "//use.typekit.net/fls3qsy.js"
    :javascript
      try{Typekit.load();}catch(e){}

    = csrf_meta_tags

    //TODO: remove this once a Me service is created
    //TODO: profile image should be generalized to not just facebook
    :javascript
      window.current_user_name = "#{current_user.try(:username)}" 
      window.current_user_image = "#{avatar_url(current_user) unless !current_user}"
      window.current_user_admin = "#{current_user.try(:admin)}"       
    = render :partial => 'shared/mix_panel'
  %body{"ng-app" => "Intralist"}
    = render :partial => "shared/navbar"
    #page-content{iScroll: ""}
      .main-container.container.bordered
        - flash.each do |k, v|
          %div{:class => "alert alert-success"}
            %button{:type => "button", :class=> "close", "data-dismiss" => "alert"}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close<
            = v
        %div.clearfix{"ng-view" => true}
          = yield
    #scroll-top
      %a{:href => "#"}
        back to top
        %span.glyphicon.glyphicon-arrow-up
    = render :partial => 'shared/facebook_javascript_sdk'

    .page-js
      = yield :page_javascript

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39839253-1', 'intralist.com');
      ga('send', 'pageview');

      //TODO: Move this scroll-top element into angular
      $(document).ready(function() {
        $("#scroll-top").click(function(event) {
          event.preventDefault();
          //NOTE: Certain browsers require 'html' to do this and others require 'body'
          $("html, body").animate({ scrollTop: 0 });
        })
      })
